/*main table width + border will collapse to one*/
table {
    border-collapse: collapse;
    width: 100%;
}


/*Styling of table Header*/
th{
    padding-bottom: .5em;
    text-align: left;
    /*change color*/
    color: black;
    background-color:none;
    font-weight: 800;
    /* height:80%; */
    height:30px;
}

/* Table (TD) cell/data layout all */
td{
    text-align: left;
    font-size: 80%;
    padding:0px;
}



/*Table Borders*/

/* adding a border to all table (Comment to turn off) */
table, th, td {
    border-bottom: solid 1px black;
}

/*specific row to put border on*/
.sq-table-border{
    border-bottom: solid 1px black;
}



/* Table "Zebra Stripes" */

/*Add stripe on odd rows (change odd to even for even rows)*/
.sq-table-striped tr:nth-child(odd) {
    background-color: #f2f2f2
}



/* Table Hover over (Change Colors)*/

/*when hovering over table rows*/
.sq-table-hover tr:hover{
    background-color: blue;
    color: red;
}


/* Table Misc*/

/*The Arrow UP icon, at the end of the header*/
.sq-table-misc-arrow-up th::after{
    float: right;
    content: '\02191';
    color:var(--background);
    padding-right:1em;
}



/*Look at later*/

/* tbody tr:not(:slast-child){
    border-bottom: solid .1em var(--divider);
} */



/* th[data-sorted-direction='ascending']::after{
    float: right;
    content: '\02193';
    color:var(--secondary);
    padding-right:1em;
} */


